%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ts=4 sw=4 ft=erlang et

{erl_opts, [warnings_as_errors,
            warn_export_all]}.

{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.


{deps, [
        {eredis, ".*", {git, "https://github.com/congleetea/eredis.git", {tag, "v1.0.8"}}},
        {poolboy, ".*", {git, "https://github.com/comtihon/poolboy.git", {branch, "master"}}}
      ]}.
